html
  head
    title= title
    style 
      include /public/style/main.css
  body
    center
      div
        img(src="/public/images/logo.png" height=100  alt="msp_logo")
        img(src="/public/images/msp_logo.jpeg" height=100  alt="msp_logo")
      h1= message
      p Welcome to the MSPInspire session of Azure App Service held at Vartak College
      p This is a sample PUG template
      
        