html
  head
    title= title
  body
    center
      h1= message
      p Welcome to the session of Azure App Service
      p This is a sample PUG template
      img(src="/public/msp_logo.jpeg" height=100  alt="msp_logo")